protobuf
transformers==4.30.2
cpm_kernels
torch==2.0.1
gradio
mdtex2html
sentencepiece==0.1.99
accelerate==0.23.0
sse-starlette
streamlit>=1.24.0
bitsandbytes==0.41.1
scipy==1.10.1
nltk==3.8.1
peft==0.5.0
python-dotenv==1.0.0
weaviate-client==3.24.2
datasets==2.14.5
